---
import { Image } from "astro:assets";
import logo from "../images/logo.png";
---

<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>Astro</title>
    </head>

    <body class="bg-gray-300 font-serif">
        <header class="flex bg-gray-800">
            <a class="p-4 flex gap-2 items-center hover:bg-gray-900" href="/">
                <Image src={logo} alt="AI-CS Logo" class="w-16" />
                <span class="text-white">AI-CS</span>
            </a>
        </header>

        <main class="bg-white max-w-3xl mx-auto p-3">
            <div class="p-3"></div>

            <h1 class="text-center text-3xl">AI-CS Wiki</h1>
            <div class="p-3"></div>

            <p class="text-center">
                Welcome to the AI-CS wiki, home to officially-written articles
                about the series.
            </p>
            <div class="p-3"></div>

            <h2 class="text-center text-2xl">Novels</h2>
            <div class="p-3"></div>

            <div class="flex flex-col gap-2 items-center">
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="novels/on-a-kings-pedestal.html"
                    >On A King's Pedestal</a
                >
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="novels/set-foot-blind.html">Set Foot Blind</a
                >
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="novels/apocalyptic-invasion.html"
                    >Apocalyptic Invasion (Special Edition)</a
                >
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="novels/concentrated-solitude.html"
                    >Concentrated Solitude (Special Edition)</a
                >
            </div>
            <div class="p-3"></div>

            <h2 class="text-center text-2xl">Characters</h2>
            <div class="p-3"></div>

            <div class="flex flex-wrap gap-3 justify-center">
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="characters/selenium.html">Selenium (C-76)</a
                >
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="characters/arsenic.html">Arsenic (T-32)</a
                >
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="characters/autumn.html">Autumn</a
                >
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="characters/autumn.html">Londyn</a
                >
            </div>
            <div class="p-3"></div>

            <h2 class="text-center text-2xl">Locations</h2>
            <div class="p-3"></div>

            <div class="flex flex-wrap gap-3 justify-center">
                <a
                    class="text-sky-500 hover:underline text-center"
                    href="locations/manor.html">Manor (On A King's Pedestal)</a
                >
            </div>

            <div class="p-3"></div>
        </main>
    </body>
</html>
