---
import { Image } from "astro:assets";
import logo from "../images/logo.png";
---

<header class="flex bg-gray-800">
    <a class="p-4 flex gap-2 items-center hover:bg-gray-900" href="/">
        <Image src={logo} alt="AI-CS Logo" class="w-16" />
        <span class="text-white">AI-CS</span>
    </a>
</header>
